<div class="form-group">
    <label for="subtitle">Question Type</label>
    <%= f.select :ques_type, options_for_select(AppConstant::QuesType), {:include_blank => '--Select Question Type--'}, {class: 'form-control'} %>

    
</div>
<div class="form-group">
<label for="subtitle">Question</label>
<%= f.text_area :question, class: 'form-control' %>
</div>


    <div class="form-group">
    <label for="subtitle">Create Questions</label>
    <%= f.fields_for :answers, @answer do |builder| %>
      <%= render 'answer_fields', f: builder %>
    <% end %>
  </div>
  <div class="form-group"> 
    <%= link_to_add_association "Add Ans", f, :answers, class: 'btn btn-info' %>
  </div>




<div class="form-group">
<label for="subtitle">Correct Option No.</label>
<%= f.text_field :correct_answer, class: 'form-control' %>
</div>
