<div class="form-group">
    <label for="subtitle">Question</label>
    <%= f.select :ques_type, options_for_select(AppConstant::QuesType), {:include_blank => '--Select Question Type--'}, {class: 'form-control'} %>

    
</div>
<div class="form-group">
<label for="subtitle">Question <%= f.index %></label>
<%= f.text_field :question, class: 'form-control' %>
</div>

<div class="row">
    <div class="col">
    	<label for="subtitle">Option 1</label>
    	<%= f.text_field :option1, class: 'form-control', placeholder: 'First Answer' %>
    </div>
    <div class="col">
      <label for="subtitle">Option 2</label>
    	<%= f.text_field :option2, class: 'form-control', placeholder: 'First Second' %>
    </div>
</div>
<br/>
<div class="row">
    <div class="col">
    	<label for="subtitle">Option 1</label>
    	<%= f.text_field :option3, class: 'form-control', placeholder: 'First Third' %>
    </div>
    <div class="col">
      <label for="subtitle">Option 2</label>
    	<%= f.text_field :option4, class: 'form-control', placeholder: 'First Fourth' %>
    </div>
</div>
<br/>

<div class="form-group">
<label for="subtitle">Correct Option No.</label>
<%= f.text_field :correct_answer, class: 'form-control' %>
</div>
