<div class="f-group">
    <label for="subtitle">Question</label>
    <%= f.select :ques_type, options_for_select(AppConstant::QuesType), {:include_blank => '--Select Question Type--'}, {} %>
</div>
<div class="f-group">
<label for="subtitle">Answer 1</label>
<%= f.text_field :answer1 %>
</div>
<div class="f-group">
<label for="subtitle">Answer 2</label>
<%= f.text_field :answer1 %>
</div>
<div class="f-group">
<label for="subtitle">Answer 3</label>
<%= f.text_field :answer1 %>
</div>
<div class="f-group">
<label for="subtitle">Answer 4</label>
<%= f.text_field :answer1 %>
</div>