<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Quizzes</h1>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th style="text-align: center">Title</th>
        <th colspan="3" style="text-align: center">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @quizzes.each do |quiz| %>
        <tr>
          <td style="text-align: center"><%= quiz.title %></td>
          <td style="text-align: center"><%= link_to 'Show', quiz, class: 'btn btn-success' %></td>
          <td style="text-align: center"><%= link_to 'Edit', edit_quiz_path(quiz), class: 'btn btn-info' %></td>
          <td style="text-align: center"><%= link_to 'Destroy', quiz, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Quiz', new_quiz_path, class: 'btn btn-lg btn-primary', role: 'button' %>

</div>

