<label>
  <%= ques.object.question.question %>
</label>
<div class="radio">
  <% ques.object.question.answers.each do |answer_option| %>
    <p>
      <label>
        <%= answer_option.option %>
        <%= ques.radio_button :answer_id, answer_option.id %>
        <%= ques.hidden_field :question_id %>
        <%= ques.hidden_field :user_id, :value=>current_user.id %>
      </label>
    </p>
  <% end %>
</div>