<!DOCTYPE html>
<html>
<head>
<title>Quiz Result</title>
</head>
<body>
<div><h4>Quiz :: <span style="color: #792ea5"><%= @quiz.title %></span></h4></div>
<div><h4>Your Score :: <span style="color: #f28415"><%= @result %> %</span></h4></div>
<h1>Q & A </h1>
<div class="question">
	           <% i=1 %>
	          	<% @attempt.quizsubmits.each do |ques| %>
	          		<h5><b>(<%= i %>) <%= ques.question.question %></b><br/></h5>
                    <% j=1 %>
	          		<% ques.question.answers.each do |ans| %>
	          			<ul>
	            			<li><%= ans.option %></li>

	          			</ul>
	          		<% end %>
	          		<span style="padding: 5px; color: #17A2B8">Correct Answer:
	              		<%= ques.question.correct_answer %>
	          		</span>
                    <% if ques.question.correct_answer == ques.answer.option %>
		          		<span style="padding: 5px; color: #2bc648">Your Answer:
		              		<%= ques.answer.option %>
		          		</span>
                    <% else %>
	                    <span style="padding: 5px; color: #DC4184">Your Answer:
		              		<%= ques.answer.option %>
		          		</span>
                    <% end %>
                    <% i +=1 %>
                    <hr>
                    <br/>
	          	<% end %>
	        </div>
</body>
</html>